@import url("https://fonts.googleapis.com/css?family=Open+Sans")

// container(base-size)
//   margin 0 auto
//   width base-size !important

*
  margin 0
  padding 0

body
  font-family: 'Open Sans', sans-serif
